@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.burger-btn {
  @apply flex flex-col justify-between w-8 h-6 cursor-pointer;
}

.line {
  @apply w-full h-1 bg-black transition-transform transition-opacity;
}

.burger-btn.open .line:nth-child(1) {
  @apply transform translateY-2 rotate-45;
}

.burger-btn.open .line:nth-child(2) {
  @apply opacity-0;
}

.burger-btn.open .line:nth-child(3) {
  @apply transform -translate-y-2 -rotate-45;
}
